# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ide
*.bin

[Oo]bj/
[Dd]ebug/
.idea/
EventOrganizer/deploy-update.bat
EventOrganizer/deploy.bat
EventOrganizer/deploy-log.txt
EventOrganizer/grant-secret.bat
